/* Set the canvas element to be the full size of the container */
canvas {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

/* Center the canvas element on the page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url("../assets/147title.png");
  background-size: cover;
}

#canvas-container {
  width: 100%;
  height: 600px;
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin-top: 50px;
}

.glitch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch-output {
  width: 500px;
  font-family: fantasy; 
  border: thin solid gray; 
  padding: 1em; 
  margin: 1em; 
  box-shadow: 2px 2px 5px gray; 
  background: #ffe;
}

.glitch-output #box {
  white-space: pre-wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* space between buttons */
  margin: 20px 0; /* margin around the container */
}

#reseedButton, #playAllButton, #clearStringsButton, #randomStringsButton{
  background-color: #FFBF00;
  border: solid 2px;
  text-align: center;
  border-radius: 12px;
  padding: 10px 20px;
}

#reseedButton {
  border-color: salmon;
  margin-top: 200px;
}

#playAllButton {
  border-color: seagreen;
  margin-top: 200px;
}

#clearStringsButton {
  border-color: rgb(21, 135, 212);
  margin-top: 200px;
}

#randomStringsButton {
  border-color: rgb(212, 21, 21);
  margin-top: 200px;
}
